html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
  }

  #navbar {
    background: rgb(142, 74, 4);
    color: #fff;
    overflow: auto;
    text-align: center;
      
  } 
  
  
  #navbar img {
    float: left;
    padding: 20px;
    text-decoration: none;
    color: #fff;
  }
  
  .header-about{
    float: right;
    padding: 20px;
    text-decoration: none;
  }

#container1 {
    background: white;
    margin: 100px auto;
    max-width: 400px;
    padding: 20px 20px;
    border: #333 2px solid;
    border-radius: 5px;
    text-align: center;
}

#container1 button{
    background: #4c6ca0;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}

#admin {
    margin-bottom: 20px;
}

#teacher {
    margin-bottom: 20px;
}

#student {
    margin-bottom: 20px;
}
