<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="{% static "css/teacher.css" %}" />
        <title>Teacher</title>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <p class="navbar-brand">Lend-A-Hand India</p>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a
                            class="navbar-link"
                            href=""
                            >Send Message</a
                        >
                    </li>
                    <li>
                        <a
                            class="navbar-link"
                            href="{% url 'teacher_app:register' %}"
                            >Register</a
                        >
                    </li>
                    <li>
                        <a
                            class="navbar-link"
                            href="{% url 'teacher_app:login' %}"
                            >Login</a
                        >
                    </li>
                    <li>
                        <a class="navbar-link" href="">Teach</a>
                    </li>
                    <li>
                        <a class="navbar-link" href="{% url 'admin_app:index' %}">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="background">
            {% block body_block %} 
            {% endblock %}
        </div>
    </body>
</html>
