{% extends 'student_app/base.html' %} {% load static %} {% block body_block %}

<div class="jumbotron" style="text-align: center; border-radius: 20px; margin-left: 300px; margin-right: 300px;">
    <h1 style="text-align: center">Please Login</h1>
    <form action="{% url 'teacher_app:login' %}" method="post" style="text-align: center; margin-left: 50px">
        {% csrf_token %}
        <label style="margin-top: 50px" for="username">Username:</label>
        <input  placeholder="Enter Username" />
        <div></div>
        <label style="text-align: center; margin-top: 20px" for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" />
        <div></div>
        <input style="text-align: center; margin-top: 10px" class="btn btn-primary" type="submit" name="" value="Login" />
    </form>
</div>

{% endblock %}
